.avatar-selector * {
    display: inline;
}

.avatar-selector input {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

.avatar-selector input:checked + img {
    border: 2px solid #000;
}

.avatar-letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 100%;
}

.title-and-artists .list-inside li {
    display: inline;
}

.date-id-reference .space-y-1 > :not([hidden]) ~ :not([hidden]) {
    margin: 0px;
}
